[user]
	name = Boris Jamot
	email = boris.jamot@orange.com
[alias]
	co = checkout
	pullr = pull --rebase
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = vimdiff
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
